
<ion-header>

  <ion-navbar color ="danger">
      <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>Sociales</h1>
<ion-card *ngFor="let soc of notesSoc | async">
  <img src="../../assets/img/noticias_web.jpg"/>
  <ion-card-content >
    <ion-card-title>
      {{soc.title}}
      </ion-card-title>
    <p>
      {{soc.note}}
    </p>
      
    
      
  </ion-card-content>
    

</ion-card>
    <h1>Espectaculos</h1>
<ion-card *ngFor="let esp of notesEsp | async">
  <img src="../../assets/img/noticias_web.jpg"/>
  <ion-card-content >
    <ion-card-title>
      {{esp.title}}
      </ion-card-title>
    <p>
      {{esp.note}}
    </p>
      
    
      
  </ion-card-content>
    

</ion-card>
    
    <h1>Deportes</h1>
<ion-card *ngFor="let dep of notesDep | async">
  <img src="../../assets/img/noticias_web.jpg"/>
  <ion-card-content >
    <ion-card-title>
      {{dep.title}}
      </ion-card-title>
    <p>
      {{dep.note}}
    </p>
      
    
      
  </ion-card-content>
    

</ion-card>
    
    <h1>Ciencia</h1>
<ion-card *ngFor="let cie of notesCie | async">
  <img src="../../assets/img/noticias_web.jpg"/>
  <ion-card-content >
    <ion-card-title>
      {{cie.title}}
      </ion-card-title>
    <p>
      {{cie.note}}
    </p>
      
    
      
  </ion-card-content>
    

</ion-card>
    
    
</ion-content>
