<ion-header>
  <ion-navbar color="danger">
      
      
      <ion-buttons left>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      
      
      <ion-buttons end *ngFor="let usr of user | async">
          
          
          <button ion-button icon-only *ngIf="showAddBtn" (click)="addNote()">
            <ion-icon name="add"></ion-icon>
          </button>
          <button ion-button icon-only (click)="updateUser(usr.$key, usr.categoria)">
            <ion-icon name="settings"></ion-icon>
          </button>
          <button ion-button icon-only (click)="LogOut()">
            <ion-icon name="exit"></ion-icon>
          </button>
        
          <!-- 
          <button ion-button icon-only (click)="getItems($event)">
            <ion-icon name="ion-wrench"></ion-icon>
          </button>
            -->
          
      </ion-buttons>
      
      
    <ion-title>
      Inicio
    </ion-title>
 
      

      
  </ion-navbar>
    
</ion-header>

<ion-content padding >
    <h1>Categoria favorita ></h1>
<ion-card *ngFor="let not of notesCat | async">
    
  <img src="../../assets/img/noticias_web.jpg"/>
  <ion-card-content >
    <ion-card-title>
      {{not.title}}
      </ion-card-title>
    <p>
      {{not.note}}
    </p>
      <p>
      {{not.categoria}}
    </p>
    
      
  </ion-card-content>
    <button ion-button block color="danger" *ngIf="showEditBtn" (click)="showOptions(not.$key, not.title, not.note, not.id, not.categoria)">Editar</button>

</ion-card>
    
    <h1>General ></h1>
<ion-card *ngFor="let note of notes | async">
  <img src="../../assets/img/noticias_web.jpg"/>
  <ion-card-content >
    <ion-card-title>
      {{note.title}}
      </ion-card-title>
    <p>
      {{note.note}}
    </p>
      <p>
      {{note.id}}
    </p>
    
      
  </ion-card-content>
    <button ion-button block color="danger" *ngIf="showEditBtn" (click)="showOptions(note.$key, note.title, note.note, note.id, note.categoria)">Editar</button>

</ion-card>
    
 
</ion-content>