<ion-menu side="left" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menú
            </ion-title>
        </ion-toolbar>
    </ion-header>        
    <ion-content>
        <ion-list>
            
            
            <ion-item (click)="go_to_home()" menuClose>
                Inicio
            </ion-item>
            <ion-item (click)="go_to_cate()" menuClose>
                Categorias
            </ion-item>
             <ion-item (click)="LogOut()" menuClose>
                Cerrar Sesión
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
 
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav>


