.auth-home {
  background-image: url("../../assets/img/stars.jpg");
  background-size: 100%;
  background-position-y: 50%;

  .logo {
    height: 30%;
    width: 47%;
      margin-left: 26%;
      margin-top: 10%;
      margin-bottom: 30%;
      
    background-image: url("../../assets/img/Logo.png");
      background-size:cover;
  }

  .facebook-btn {
     
    background-color: #3b5998;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }
    .twitter-btn {
     
    background-color: #1da1f2;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }

  .google-btn {
    background-color: #d34836;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }

  .sign-up-btn {
    margin-top: 5%;
    margin-left: 2.5%;
    width: 46%;
  }

  .log-in-btn {
    margin-top: 5%;
    margin-left: 2%;
    width: 46%;
  }

  .error {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(217, 74, 87);
    p {
      color: white;
      font-weight: bold;
    }
  }

  .terms-of-use-txt {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 10px;
    color: white;
  }
}
