<ion-content class="auth-home">
  <div class="logo">
    <div class="logo-icon">
      LOGO
    </div>
  </div>

  <button ion-button block class="facebook-btn" (click)="loginUserWithFacebook()">
    <ion-icon name="logo-facebook"></ion-icon>
    Inicia sesión con Facebook
  </button>

<button ion-button block class="twitter-btn" (click)="twitterlogin()">
    <ion-icon name="logo-twitter"></ion-icon>
    Login with Twitter</button>
<!--
  <button ion-button color="light" class="sign-up-btn" (click)="openSignUpPage()">Registrate</button>
  <button ion-button color="light" class="log-in-btn" (click)="openLoginPage()">Inicia sesión</button>
    -->

  <div padding class="error" *ngIf="error">
    <p>{{error}}</p>
  </div>

  <div class="terms-of-use-txt">
    Al iniciar sesión estas de acuerdo con los 
    <b (click)="openTermsOfService()">Terminos del servicio</b>
  </div>
</ion-content>
